@tailwind base;
@tailwind components;
@tailwind utilities;

.h-section {
    /* Constants.navbarHeight */
    min-height: calc(100vh - 66px);
    @apply flex justify-center items-center;
}

.font-delicious-handrawn {
    font-family: 'Delicious Handrawn', cursive;
}

.font-dela-gothic-one {
    font-family: 'Dela Gothic One', monospace;
}
